body {
    background-color: aquamarine;
}

.description {
    background-color: blue;
    display: block;
    border: 5px;
    margin-left: 380px;
    margin-right: 400px;
    padding: 150px;
    padding-top: 1px;
    padding-bottom: 1px;

}

img {
    display: inline-block;
    width: 410px;
    height: auto;
    border: 5px;
    margin: 415px;
    margin-top: auto;
    margin-bottom: auto;
}

.ingredients {
    width: 400px;
    background-color: grey;
    border: 2px solid;
    padding: 10px;
    margin: 380px;
    margin-top: 0px;
    margin-right:auto;
    margin-bottom: 0px;
    
}

.main {
    position: fixed;
    left: 50%;
    bottom: 20px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

.steps {
    background-color: skyblue;
    padding: 50px;
    border: 2px solid;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: auto;
}

.summary {
    background-color: green;
    display: block;
    border: 5px;
    margin-left: 380px;
    margin-right: 400px;
    padding: 150px;
    padding-top: 1px;
    padding-bottom: 1px;

}

.title {
    background-color: pink;
    display: block;
    border: 5px;
    margin-left: 380px;
    margin-right: 400px;
    padding: 150px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.parent {
    display: inline-flex;
}